PROJECT_PROGRESS.md
LEARNING_RULES.md
DECISIONS.md
local.md
postman/



# Виртуальное окружение
.venv/

# Кеш Python
__pycache__/
*.pyc

# Переменные окружения (секреты!)
.env

# Логи
logs/

# IDE
.vscode/
.idea/
